<ion-header>
  <ion-toolbar> 
    <a style="padding:10px" (click)="typechang(1)"  [ngClass]="{active:type==1}" >我创建的</a>
    <a style="padding:10px" (click)="typechang(2)" [ngClass]="{active:type==2}" > 我加入的</a>
    
    <ion-icon (click)="presentPopover(1)" style="float:right;padding-right:20px;font-size: 20px;" name="add-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list *ngIf="type==1" > 
    <ion-item  *ngFor="let item of createlist"  (click)="goteacher()" ><!--用href的话 动态可能就要动态拼接url了-->
      <ion-avatar slot="start" >
        <img src="../../assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h2>{{item.cloudClass.className}}</h2>
        <h3>{{item.cloudClass.school}}</h3>
        <p>{{item.cloudClass.grade}} {{item.orgCode}}</p>
      </ion-label>
    </ion-item> 
  </ion-list>

  
  <ion-list *ngIf="type==2">
    <ion-item  *ngFor="let item of addlist"  (click)="coursedetail()" ><!--用href的话 动态可能就要动态拼接url了-->
      <ion-avatar slot="start" >
        <img src="../../assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h2>{{item.cloudClass.className}}</h2>
        <h3>{{item.cloudClass.teacherName}}</h3>
        <p>{{item.cloudClass.grade}}</p>
      </ion-label>
    </ion-item> 
   
  </ion-list>
</ion-content>  