<ion-header>
  <ion-toolbar>
    <ion-title style=text-align:center>账户设置</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button size="large" fill="clear" color="success" expand="full">
    <ion-thumbnail slot="start">
      <img src="assets/p.png">
    </ion-thumbnail>
  </ion-button>
  <ion-list lines="full">
    <ion-item>
      <ion-label>用户名</ion-label>
      <ion-label slot="end" style="text-align:right ">{{getusermsg.userName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>电子邮箱</ion-label>
      <ion-label style="text-align:right ">
        <h3>{{getusermsg.email}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>昵称</ion-label>
      <ion-input type="text" style="text-align:right " slot="end" placeholder="昵称"
        [(ngModel)]="user.nickname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>生日</ion-label>
      <ion-input type="text" style="text-align:right " slot="end" placeholder="生日日期"
        [(ngModel)]="user.birthDate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>学历</ion-label>
      <ion-select [(ngModel)]="user.education">
        <ion-select-option slot="end" *ngFor="let item of List.eduList" [value]="item">{{item}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item-divider>
      <ion-label> 性别 </ion-label>
    </ion-item-divider>
    <ion-radio-group [(ngModel)]="user.gender">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>男</ion-label>
              <ion-radio value='男' slot="end" expand="full"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>女</ion-label>
              <ion-radio value='女' slot="end" expand="full"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-radio-group>
    
    <ion-item-divider>
      <ion-label> 所属信息 </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>所属学校</ion-label>
      <ion-input type="text" style="text-align:right " slot="end" placeholder="学校"
        [(ngModel)]="user.school"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>所属学院</ion-label>
      <ion-input type="text" style="text-align:right " slot="end" placeholder="学院"
        [(ngModel)]="user.college"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>专业名</ion-label>
      <ion-input type="text" style="text-align:right " slot="end" placeholder="专业名称"
        [(ngModel)]="user.major"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>学号/工号</ion-label>
      <ion-input type="text" style="text-align:right " slot="end" placeholder="学号/工号"
        [(ngModel)]="user.studentId"></ion-input>
    </ion-item>
    <ion-item-divider>
      <ion-label> 地址 </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input type="text" style="text-align:center " placeholder="国家" [(ngModel)]="user.nation"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="text" style="text-align:center " placeholder="省份" [(ngModel)]="user.province"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="text" style="text-align:center " placeholder="城市" [(ngModel)]="user.city"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-label>详细地址</ion-label>
      <ion-input type="text" style="text-align:right " slot="end" placeholder="地址"
        [(ngModel)]="user.address"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="save()" color="primary" expand="block"> 保存 </ion-button>
</ion-content>